<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340335355260-r7itplb5ckkctldf36v9ntg00daln14c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340335355260-r7itplb5ckkctldf36v9ntg00daln14c</string>
	<key>API_KEY</key>
	<string>AIzaSyCOzEK3RgLyESy_oWlBsGREzUN69VEj5Zs</string>
	<key>GCM_SENDER_ID</key>
	<string>340335355260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.autenticApps</string>
	<key>PROJECT_ID</key>
	<string>authentic-87141</string>
	<key>STORAGE_BUCKET</key>
	<string>authentic-87141.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340335355260:ios:64d484630f633ce23cf0f9</string>
</dict>
</plist>